@use '@scss/global/functions' as *;
.main {
    display: flex;
    flex-direction: column;
}

.future {
    display: flex;
    flex-direction: column;
    row-gap: fluid(38, 93, 375, 1440);

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 46px;
    }

    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: fluid(40, 64, 375, 1440);
    }

    &__feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}

.infrastructure {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}

.tools {
    display: flex;
    flex-direction: column;
    row-gap: 46px;
    
    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}