@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

@media (width > em(768)) {
    
    .header {
        background-image: url('/src/assets/images/bg-pattern-intro-desktop.svg'),
                        var(--clr-header-grad-desktop);
        background-position: -200px -900px, top;
        background-size: 2245px 2245px;
        padding-inline: fluid(48, 164, 768, 1440);

        &__menu-toggle {
            display: none;
        }

        &__wrapper {
            column-gap: fluid(45, 64, 768, 1440);
        }

        &__nav {
            position: static;
            inset-block-start: unset;
            inset-inline: unset;
            border-radius: 0;
            background-color: transparent;
            padding: 0;
            box-shadow: unset;
            font-weight: var(--fw-4);
            opacity: 1;
            transform: unset;
            pointer-events: unset;
            visibility: visible;
            transition: unset;
        }

        &__nav-list {
            flex-direction: row;
            align-items: baseline;
            column-gap: fluid(20, 32, 768, 1440);
        }

        &__dropdown-toggle {
            color: var(--clr-light-active);
            font-family: var(--ff-secondary);
            font-size: var(--fs-body-primary);
            font-weight: var(--fw-5);
            transition: color 0.3s;

            &:hover {
                color: var(--clr-light);
            }
        }

        &__dropdown-toggle-name {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset-block-end: rem(-2);
                inset-inline-start: 50%;
                transform: translateX(-50%);
                inline-size: 0;
                block-size: rem(2);
                background-color: var(--clr-light);
                transition: inline-size 0.3s ease;
            }
        
            &:hover::after {
                inline-size: 100%;
            }
        }

// Helper class for dropdown-btn
        &__dropdown-toggle--active{
            color: var(--clr-light);
        }

        &__dropdown-icon {
            stroke: var(--clr-light);
        }

        &__dropdown-menu{
            position: absolute;
            inset-block-start: 27px;
            inset-inline-start: -24px;
            align-items: flex-start;
            transform: translateY(15px);
            padding-inline-start: 24px;
            padding-inline-end: 51px;
            padding-block: 24px;
            background-color: var(--clr-light);
            box-shadow: 0 rem(20) rem(40) 0 var(--clr-dropdown-shadow);
        }

        &__dropdown-link {
            font-family: var(--ff-secondary);
        }

        &__nav-item {
            position: relative;
        }

        &__nav-item--login {
            padding: 0;
            margin-inline-start: fluid(34, 348, 768, 1440);
            border: none;
        }

        &__nav-link--login {
            color: var(--clr-light-active);
            font-size: var(--fs-body-primary);
            font-weight: var(--fw-5);
            font-family: var(--ff-secondary);
            transition: color 0.3s ease;

            &:hover {
                color: var(--clr-light);
            }
        }

        &__nav-link--cta {
            @include m.btn-light;
            padding-block: 10px;
        }
    }

    .footer {
        padding-block: 70px;
        text-align: start;

        &__nav {
            column-gap: fluid(100, 165, 768, 1200);
            grid-template-areas:
            "pro comp"
            "con con";
        }
    }
}

@media (width > em(1200)) {

    .page-wrapper {
        row-gap: 70px;
        overflow: clip;
    }

    .future {
        padding-inline-start: fluid(48, 165, 1200, 1440);
        padding-inline-end: fluid(48, 150, 1200, 1650);
        padding-block-start: 79px;
        

        &__title {
            align-self: center;
        }

        &__content {
            position: relative;
            text-align: start;
            flex-direction: row;
            align-items: center;
            column-gap: fluid(25, 125, 1200, 1440);
        }

        &__img {
            inline-size: rem(900);
            block-size: auto;
            max-inline-size: unset;
        }

        &__img-container {
            position: absolute;
            inset-inline-start: fluid(500, 780, 1200, 1650);
            inset-block-start: -240px;
        }

        &__text {
            padding-inline: 0;
            padding-inline-start: fluid(0, 80, 1440, 1650);
        }

        &__feature {
            align-items: flex-start;
            
        }
    }

    .infrastructure {
        flex-direction: row;
        column-gap: fluid(0, 98, 1200, 1440);
        margin-block-start: 262px;
        padding-inline-start: fluid(48, 165, 1200, 1440);
        padding-block: 111px;
        background-position: -240px -550px, center;
        background-size: 1014px 1018px, cover;

        &__img-container {
            position: relative;
            max-inline-size: rem(520);
            margin: 0;
        }
        
        &__img {
            inset-block-start: -170px;
        }
        
        &__content {
            row-gap: 5px;
            text-align: start;
            padding-inline: 0;
        }
    }

    .tools {
        position: relative;
        flex-direction: row-reverse;
        text-align: start;
        align-items: center;
        margin-block-start: 301px;
        margin-block-end: 208px;
        margin-inline-end: fluid(100, 205, 1200, 1440);

        &__img-container {
            position: absolute;
            inset-inline-start: -269px;
        }

        &__img {
            inline-size: rem(930);
            block-size: auto;
            max-inline-size: unset;
        }

        &__desc {
            padding-inline: 0;
            max-inline-size: 45ch;
        }

        &__content-wrapper {
            row-gap: 64px;
        }

        &__content {
            align-items: flex-start;
            row-gap: 16px;
        }
    }

    .footer {
        place-items: unset;

        &__nav {
            column-gap: fluid(100, 230, 1200, 1440);
            grid-template-areas:
            "pro comp con";
        }

        &__content {
            flex-direction: row;
            column-gap: fluid(132, 184, 1200, 1440);
        }
    }
}


@media (width > em(1440)) {

    .header {
        &__nav-item--login {
            margin-inline-start: fluid(348, 560, 1440, 1650);
        }
    }

    .tools {
        margin-inline-end: fluid(205, 380, 1440, 1650);
    }

    .footer {

        &__nav {
            grid-template-areas:
            "pro comp con";
        }

        &__content {
            column-gap: fluid(184, 280, 1440, 1650);
        }
    }
}