@use './functions' as *;

@mixin btn-light {
    padding-block: 15px;
    background-color: var(--clr-light);
    color: var(--clr-cta);
    border-radius: rem(28);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-5);
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: var(--clr-light);
        background-color: var(--clr-cta-hover);
        outline: rem(1.3) solid var(--clr-light);
    }
}

@mixin btn-dark {
    padding-block: 15px;
    color: var(--clr-light);
    outline: rem(1.3) solid var(--clr-light);
    background-color: var(--clr-cta-hover);
    border-radius: rem(28);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-5);
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: var(--clr-cta-hover);
        background-color: var(--clr-light);
    }
}

@mixin btn-grad {
    padding-block: 15px;
    color: var(--clr-light);
    border-radius: rem(28);
    background: var(--clr-btn-sign-up);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-5);
    transition: opacity 0.3s, color 0.3s;

    &:hover, &:focus-visible {
        opacity: 75%;
        color: var(--clr-cta-text);
    }
}
